@page "/account/access-denied"

@inject IStringLocalizer<SharedResource> Loc

<PageTitle>@Loc["Brak dostępu"]</PageTitle>

<header>
    <h1 class="text-danger">@Loc["Brak dostępu"]</h1>
    <p class="text-danger">@Loc["Nie masz dostępu do tego zasobu."]</p>
</header>