@page "/"
@rendermode InteractiveWebAssembly

<PageTitle>Counter</PageTitle>

<h1>Counter @_handler</h1>

<p role="status">Current count: @_currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<section class="mb-5">
    <h2>Popularne</h2>
    <div class="row">
        @foreach (var i in Enumerable.Range(1, 4))
        {
            <div class="col-md-3 mb-4">
                <div class="card">
                    <img src="path/to/image1.jpg" class="card-img-top" alt="Atrakcja Popularna @i">
                    <div class="card-body">
                        <h5 class="card-title">Atrakcja Popularna @i</h5>
                        <p class="card-text">Krótki opis atrakcji.</p>
                        <a href="#" class="btn btn-primary">Czytaj więcej</a>
                    </div>
                </div>
            </div>
        }
    </div>
</section>

@code {
    private int _currentCount;
    private string _handler = "";

    protected override void OnInitialized()
    {
        _handler = OperatingSystem.IsBrowser() ? "WASM" : "Server";
    }

    private void IncrementCount()
    {
        _currentCount++;
        _handler = OperatingSystem.IsBrowser() ? "WASM" : "Server";
        StateHasChanged();
    }

}