@using Microsoft.AspNetCore.Identity
@using Guide.Domain.Entities

@inject SignInManager<User> SignInManager
@inject IStringLocalizer<SharedResource> Loc

<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <NavLink class="nav-link" href="account/manage" Match="NavLinkMatch.All">@Loc["Profil"]</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="account/manage/email">@Loc["Email"]</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="account/manage/change-password">@Loc["Hasło"]</NavLink>
    </li>
</ul>

@code {

}