@using Guide.Application.Features.Attractions.Commands.UpdateAttraction
@using Guide.Domain.Entities
@using Guide.Shared.Common.Static

@page "/admin/attractions/update/{id:int}"
@rendermode InteractiveServer

@inject IAttractionService AttractionService
@inject NavigationManager NavigationManager

<PageTitle>Miejsca - Panel Administratora</PageTitle>

@if (_request != null)
{
    <EditForm Model="_request" OnValidSubmit="HandleSubmit">
        <FluentValidationValidator/>
        <div class="mb-3">
            <label class="form-label">Nazwa</label>
            <InputText class="form-control" @bind-Value="_request.Name">@_request.Name</InputText>
            <ValidationMessage For="() => _request.Name"/>
        </div>
        @* <div class="mb-3"> *@
        @*     <label class="form-label">Kategoria</label> *@
        @*     <InputText class="form-control" @bind-Value="_attraction.Category">@_attraction.Category</InputText> *@
        @*     <ValidationMessage For="() => _attraction.Category"/> *@
        @* </div> *@
        <div class="mb-3">
            <label class="form-label">Opis</label>
            <InputTextArea class="form-control" @bind-Value="_request.Description" rows="4">@_request.Description</InputTextArea>
            <ValidationMessage For="() => _request.Description"/>
        </div>
        <button type="submit" class="btn btn-primary">Zapisz</button>
    </EditForm>
}

@code {
    [Parameter] public int? Id { get; set; }

    UpdateAttractionCommand? _request;

    protected override async Task OnInitializedAsync()
    {
        if (!Id.HasValue)
        {
            NavigationManager.NavigateTo("/admin/attractions");
            return;
        }

        var attraction = await AttractionService.Get(Id.Value);
        if (attraction == null)
        {
            NavigationManager.NavigateTo("/admin/attractions");
            return;
        }

        _request = new UpdateAttractionCommand
        {
            Id = attraction.Id, LanguageCode = LanguageCodes.Default,
            Name = attraction.Name, Description = attraction.Description,
            Categories = attraction.Categories.Select(x => x.Id)
        };
    }

    async Task HandleSubmit()
    {
        await AttractionService.Update(_request!);
        NavigationManager.NavigateTo("/admin/attractions");
    }

}