@using System.Globalization
@using Guide.Shared.Common.Static

@rendermode InteractiveWebAssembly

@inject IStringLocalizer<SharedResource> Loc
@inject NavigationManager NavigationManager
@inject LocalizationService LocalizationService

<select class="form-select" @onchange="ChangeLanguage">
    <option value="pl" selected="@("pl" == _language)">Polski</option>
    <option value="en" selected="@("en" == _language)">English</option>
</select>

@code {
    private readonly string _language = CultureInfo.CurrentCulture.TwoLetterISOLanguageName;

    private async Task ChangeLanguage(ChangeEventArgs e)
    {
        await LocalizationService.SetCultureCookie(e.Value?.ToString() ?? LanguageCodes.Default);
        NavigationManager.Refresh(true);
    }

}